body {
  background: linear-gradient(to right, #ece9e6, #ffffff);
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 800px;
  text-align: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

.search-container {
  display: flex;
  width: 100%;
}

input[type="text"] {
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 70%;
  margin-right: 10px;
}

.filter-button, .search-button {
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.filter-button:hover, .search-button:hover {
  background-color: #0056b3;
}

.dropdown-menu {
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  right: 20%;
  text-align: left;
}

.dropdown-menu label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

.search-results {
  margin-top: 20px;
}

.search-results li {
  padding: 15px;
  border-radius: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  transition: transform 0.2s;
  list-style-type: none; /* Remove bullet points */
}

.search-results li:hover {
  transform: scale(1.02);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.no-results {
  margin-top: 20px;
  font-size: 1rem;
  color: #777;
}

.suggestions {
  list-style-type: none;
  padding: 5px 10px;
  margin: 0;
  background: white;
  border: 1px solid #ccc;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.suggestion {
  padding: 10px;
  cursor: pointer;
}

.suggestion:hover {
  background-color: #f0f0f0;
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
  width: 300px; /* Adjusted width for better content fit */
}

.popup h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: #333;
}

.allergens-list {
  list-style-type: none; /* Remove bullet points from allergens */
  padding: 0;
  margin: 10px 0;
}

.allergens-list li {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.allergens-list span {
  margin-right: 10px;
  font-size: 1.2rem; /* Icon size */
}

.close-button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Full-width button */
}

.close-button:hover {
  background-color: #0056b3;
}
